body{
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 22px;
  }
nav{
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
#logo{
    width: 400px;
}
input{
    height: 28px;
    font-size: 16px;
    width: 100%;
}
#submit-button{
    background-color: #58068C;    
    color: white;
    display: inline block;
    width: 100%;
    height: 36px;
    border: none;
    height: 36px;
    font-size: 14px;
}
label{
    float:left;
}

fieldset{
    margin: 0 auto;
    padding: 20px 60px;
    background-color: white;
    max-width: 280px;
    min-height: 350px;
    border: none;
}

.content div{
    padding-top: 8px;
    padding-bottom: 8px;
}
.content{
    display: inline block;
}

@media screen and (min-width: 961px) {
    body{
    	background-image: url("https://sso.stern.nyu.edu/web/images/stern1.jpg");
    	background-size: auto;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-attachment: fixed;
    }
    .content{
        margin-top: 220px;
    }
}
@media screen and (min-width: 654px) and (max-width: 960px){
    body{
    	background-image: url("https://sso.stern.nyu.edu/web/images/stern1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    	background-position: center;
    	background-attachment: fixed;
    }
    .content{
        margin-top: 220px;
    }
}
@media screen and (max-width: 653px){
    body{
        background-color: #58068C;
    }
    .content{
        margin-top: 35%;
    }
    #logo{
        max-width: 100%;
    }
}